<!DOCTYPE html>
<html>
  <head>
    <title>Margatsni</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= favicon_link_tag "icon.png" %> 
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <% if current_user %>
      <script>
        window.currentUser = {
          "id": <%= current_user.id %>,
          "username": "<%= current_user.username%>"
        };
      </script>
    <%end%>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Cedarville+Cursive&display=swap" rel="stylesheet">

    <meta property="og:title" content="Margatsni" />
     <meta property='og:image' content="<%= image_url('margatsniPic.png') %>"/>
     <meta property="og:description"
       content="Clone of instagram where users can post photos and leave comments, likes and  follow other users"/>
     <meta property="og:url"
       content="http://margatsni123.herokuapp.com/"/>
    
  </head>

  <body>
  
    <script>
      window.instagramLogo = "<%= image_url('instagram-logo.jpg')%>"
    </script>
    <script>
      window.newPostIcon = "<%= image_url('new-post-icon.png')%>"
    </script>
    <script>
      window.following = "<%= image_url('following.png')%>"
    </script>
    <script>
      window.homeIcon = "<%= image_url('home-icon.png')%>"
    </script>
    <script>
      window.heartIcon = "<%= image_url('heart-icon.png')%>"
    </script>
    <script>
      window.messageIcon = "<%= image_url('message-icon.png')%>"
    </script>
    <script>
      window.profileIcon = "<%= image_url('profile-icon.png')%>"
    </script>
    <script>
      window.searchIcon = "<%= image_url('search-icon.png')%>"
    </script>
    <script>
      window.loginImage1 = "<%= image_url('loginImage1.png')%>"
    </script>
    <script>
      window.loginImage2 = "<%= image_url('loginImage2.png')%>"
    </script>
    <script>
      window.loginImage3 = "<%= image_url('loginImage3.png')%>"
    </script>
    <%= yield %>
  </body>
</html>
